<div class="container-fluid bodydiv">
    <div class="row">
        <div class="col">
            <h4>Welcome to Unicorn Health File Portal</h4>
            <br/><br/>
            (<a href="/assets/uploadfiles/Patient Visit Summary.png" target="_blank">Sample Patient Visit Summary</a>)
            <br/>
            <br/>
            <nav>
              <ul>
                <li>Click <a routerLink="/healthfile">here</a> to upload a health file</li>
              </ul>
            </nav>
        </div>
    </div>
</div>